#video-container {
  position: relative;
  display: inline-block;
}
#webcam {
  display: block;
  width: 100%;
  height: auto;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
#video-upload {
  width: 100%;
}
#video-upload-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
#uploaded-video {
  max-height: 500px;
  width: auto;
  display: block;
  margin: auto;
}
#video-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}
