/* Global Variables */
:root {
    /* Light Mode */
    --lightbg: rgba(255, 255, 255, 0.4);
    --lightcolor: #000;
    --lightinputfocus: rgba(255, 255, 255, 0.6);
    /* Dark Mode */
    --darkbg: rgba(0, 0, 0, 0.4);
    --darkcolor: #cfcfcf;
    --darkinputfocus: rgba(0, 0, 0, 0.6);
}

/* Jika tema adalah 'dark' */
html[data-bs-theme="dark"] {
    background-color: var(--darkbg);

    /* Window Area */
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        /* Menetapkan arah fleksibilitas ke vertikal */
        min-width: 0;
        word-wrap: break-word;
        background-color: var(--darkbg);
        color: var(--darkcolor);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        backdrop-filter: blur(20px);
        padding: 0px;
        /* Experimental : add padding on inside contents */
        height: 100%;
        /* Kartu akan mengisi tinggi kolom */
    }

    .card .card-body {
        flex-grow: 1;
        /* Kartu akan mengisi tinggi dengan isi konten */
        overflow-x: auto;
        display: flex;
        /* Memastikan konten kartu juga berfleksibel */
        flex-direction: column;
        /* Memastikan konten kartu berfleksibel secara vertikal */
    }

    .input-mica {
        background-color: var(--darkbg);
        border: 0;
    }

    .input-mica:focus {
        background-color: var(--darkinputfocus);
        color: var(--darkcolor);
    }

    /* Experimental : Preload Page */
    .preload-page {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--darkbg);
        /* Fallback color */
        backdrop-filter: blur(10px);
        /* Acrylic effect */
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;
    }

    /* Hide Preload Page */
    .preload-hidden {
        opacity: 0;
        pointer-events: none;
    }

    /* Loading Bar Styles */
    progress {
        width: 200px;
        height: 20px;
        appearance: none;
        border: none;
        border-radius: 15px;
    }

    progress::-webkit-progress-bar {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 15px;
    }

    progress::-webkit-progress-value {
        background: rgba(255, 255, 255, 0.5);
        transition: width 0.3s ease;
        border-radius: 15px;
    }
}

/* Jika tema adalah 'light' */
html[data-bs-theme="light"] {
    background-color: var(--lightbg);
    /* Contoh warna background untuk light mode */
    color: var(--lightcolor);
    /* Warna teks gelap untuk light mode */

    /* Window Area */
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        /* Menetapkan arah fleksibilitas ke vertikal */
        min-width: 0;
        word-wrap: break-word;
        background-color: var(--lightbg);
        color: var(--lightcolor);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        backdrop-filter: blur(20px);
        padding: 0px;
        /* Experimental : add padding on inside contents */
        height: 100%;
        /* Kartu akan mengisi tinggi kolom */
    }

    .card .card-body {
        flex-grow: 1;
        /* Kartu akan mengisi tinggi dengan isi konten */
        overflow-x: auto;
        display: flex;
        /* Memastikan konten kartu juga berfleksibel */
        flex-direction: column;
        /* Memastikan konten kartu berfleksibel secara vertikal */
    }

    .input-mica {
        background-color: var(--lightbg);
        color: var(--darkcolor);
        border: 0;
    }

    .input-mica:focus {
        background-color: var(--lightinputfocus);
        color: var(--lightcolor);
    }

    /* Experimental : Preload Page */
    .preload-page {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        /* Fallback color */
        backdrop-filter: blur(10px);
        /* Acrylic effect */
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;
    }

    /* Hide Preload Page */
    .preload-hidden {
        opacity: 0;
        pointer-events: none;
    }

    /* Loading Bar Styles */
    progress {
        width: 200px;
        height: 20px;
        appearance: none;
        border: none;
        border-radius: 15px;
    }

    progress::-webkit-progress-bar {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 15px;
    }

    progress::-webkit-progress-value {
        background: rgba(18, 18, 18, 0.5);
        transition: width 0.3s ease;
        border-radius: 15px;
    }
}

/* Body styles and backgrounds */
body {
    background: url('https://picsum.photos/1920/1080') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container height */
.parent {
    min-height: 95vh;
}

.footer {
    height: 5vh;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.clock {
    font-size: 8vh;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.clock-period {
    font-family: 'Courier New', Courier, monospace;
    font-size: 6vh;
    color: rgba(0, 0, 255, 0.747);
}

.btn-mica-blue {
    background-color: rgba(0, 0, 255, 0.4);
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-mica-blue:hover {
    background-color: rgba(0, 0, 255, 0.6);
}

.btn-settings {
    position: fixed;
    /* Tetap di tempat saat scroll */
    top: 10px;
    /* Jarak dari bagian atas */
    right: 10px;
    /* Jarak dari bagian kanan */
    background-color: rgba(255, 0, 0, 0.4);
    /* Warna background */
    color: #fff;
}

.btn-settings:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

/* Maps Height */
#infoMaps {
    height: 30vh;
}